[Desktop Entry]
Type=Application
Name=Steam
Comment=Valve's native linuxarm64 client (no FEX; CEF UI on turnip via -cef-use-vulkan)
Exec=/home/siwal/y700-steam-arm64/run-arm-direct.sh
Icon=/home/siwal/y700-steam/launcher/usr/share/icons/hicolor/256x256/apps/steam.png
Categories=Game;
X-Purism-FormFactor=Workstation;Mobile;
Terminal=false
StartupWMClass=steam
